#root {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 12rem;
    padding: 1rem;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #5A0FC8);
}

.tabs {
    margin-top: 2rem
}
